:root {
  font-family: Titillium Web, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #7C3AED;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

p, span{
  color: #475569;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.left, .right{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 42px 112px;
}

.left{
  background: #fff;
  color: rgb(20,20,20);  
}

.right{
  background: url('/images/bg-purple.jpg') no-repeat center;
  background-size: cover;
}

.content, .logo{
  display: flex;
  flex-direction: column;
}

.content{
  max-width: 85%;
  flex: 1;
  justify-content: center;
}

.content p:first-of-type{
  font-size: 16px;
  margin-bottom: 40px;
}

h1{
  font-size: 36px;
  color: #1E293B;
}

.font-bold{
  font-weight: bold;
}

.auth-input{
  height: 53px;
  padding: 16px 12px;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
}

.auth-input::placeholder{
  font-size: 16px;
  color: #94A3B8;
}
.auth-input:hover, .auth-input:focus{
  border-color: #7C3AED;
  outline: none;
}

.auth-input:invalid{
  border-color: red;
}

.email-field{
  margin-bottom: 16px;
}

.email, .pass {
  margin-bottom: 8px;
}

.enter-button{
  display: block;
  height: 56px;
  padding: 16px 12px;
  color: #fff;
  background: #7C3AED;
  font-weight: bold;
  margin-top: 32px;
  width: 100%;
  border: none;
}

.enter-button:hover{
  background: #9F67FF;
  border: none;
}

.pass{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pass a{
  font-weight: 600;
}

@media screen and (max-width: 1280px){
  .left{
    padding: 42px 32px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1080px){
  .right{
    display: none;
  }
}

@media screen and (max-width: 640px){
  .left{
    padding: 42px 4px;
  }
}